/* SEARCHBAR COMPONENT */
.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 90%;
    height: 180px;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13), 0px 1px 8px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin: -90px auto;
}

.customfield {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.dropdown {
    padding: 12px 16px;
    border: 1px solid #111111;
    box-sizing: border-box;
    border-radius: 8px;
    min-width: 208px;

    margin-right: 16px;
}

.dropdown2 {
    padding: 12px 16px;
    border: 1px solid #111111;
    box-sizing: border-box;
    border-radius: 8px;
    min-width: 132px;

    margin-right: 16px;
}

.label {
    position: absolute;
    left: 16px;
    top: -8px;

    font-size: 12px;
    line-height: 16px;
    background: #ffffff;
    padding: 0 5px;
}

.searchbutton {
    background: #f9b315;
    padding: 13px 82px;
    border-radius: 4px;
}
/* /SEARCHBAR COMPONENT */

/* CARDS3COL COMPONENT */
.cards3colContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1360px;
    margin: 156px auto 108px auto;
}

.cards3colCard {
    flex: 1 1 33.33%;
    background: #eeeeee;
    padding: 60px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards3colCard:not(:last-child) {
    margin-right: 18px;
}

.cards3colIcon {
    margin-bottom: 44px;
}

.cards3colParagraph {
    color: #012749;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;

    width: 80%;
}
/* /CARDS3COL COMPONENT */

/* GALLERY */
.galleryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 152px;
}

.galleryTitle {
    color: #012749;
    font-size: 44px;
    line-height: 53px;
    letter-spacing: 0.01em;

    margin-bottom: 65px;
}

.galleryCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1360px;
}

.galleryCard {
    display: flex;
    min-width: 325px;
    min-height: 276px;

    background: #eeeeee;
    margin-bottom: 25px;

    cursor: pointer;
}
/* /GALLERY */

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
